<div class="container-fluid" style="font-family: Montserrat;">
  <div class="row" style="height: 97.5vh;">
    <div class="col-6" style="background-image: url(../assets/images/background2.png);">
     
    </div>
  
  
    <div class="col-6" style="display: flex;align-items: center;justify-content: left;">
    
      <div style="width:26vw;margin: auto;">
        <p style="margin-top: 28px;margin-bottom: 20px;font-weight:400;font-size: 40px;">Registration</p>
       

<form (ngSubmit)="register()"  [formGroup]="requiredForm" novalidate >
 
    <div class="form-group">
      <label for="inputName"  style="font-weight: 500;margin-bottom: 5px;">Name</label>
      <input type="email" class="form-control" style="font-weight: 500;margin-bottom: 10px;" formControlName="name" required id="inputName" placeholder="Name" [(ngModel)]="name" >
      <div *ngIf="requiredForm.controls['name'].invalid && (requiredForm.controls['name'].dirty || requiredForm.controls['name'].touched)" style="color: red">
        <div *ngIf="requiredForm.controls['name'].errors">
        Name is required.
      </div>
    </div>
    </div>
    <div class="form-group ">
      <label for="inputEmail"  style="font-weight: 500;margin-bottom: 5px;">Email</label>
      <input type="text" class="form-control"  style="font-weight: 500;margin-bottom: 10px;" required id="inputEmail" placeholder="Email" [(ngModel)]="email" formControlName="email">
      <div *ngIf="requiredForm.controls['email'].invalid && (requiredForm.controls['email'].dirty || requiredForm.controls['email'].touched)" style="color: red">
        <div *ngIf="requiredForm.controls['email'].errors">
        Email is required.
      </div>
    </div>
    </div>
  
  <div class="form-group">
    <label for="inputAddress"  style="font-weight: 500;margin-bottom: 5px;">Address</label>
    <input type="text" class="form-control" style="font-weight: 500;margin-bottom: 10px;" required id="inputAddress" placeholder="1234 Main St" [(ngModel)]="address" formControlName="address">
    <div *ngIf="requiredForm.controls['address'].invalid && (requiredForm.controls['address'].dirty || requiredForm.controls['address'].touched)" style="color: red">
      <div *ngIf="requiredForm.controls['address'].errors">
      Address is required.
    </div>
  </div>
  </div>
  <div class="form-group">
    <label for="inputContact"  style="font-weight: 500;margin-bottom: 5px;">Contact</label>
    <input type="text" class="form-control" style="font-weight: 500;margin-bottom: 10px;" required id="inputContact" placeholder="701234567" [(ngModel)]="contact" formControlName="contact">
    <div *ngIf="requiredForm.controls['contact'].invalid && (requiredForm.controls['contact'].dirty || requiredForm.controls['contact'].touched)" style="color: red">
      <div *ngIf="requiredForm.controls['contact'].errors">
      Contact is required.
    </div>
  </div>
  </div>
  <div class="form-group">
    <label for="inputDOB"  style="font-weight: 500;margin-bottom: 5px;">DOB</label>
    <input type="date" class="form-control" style="font-weight: 500;margin-bottom: 10px;" required id="inputDOB" placeholder="Date Of Birth" [(ngModel)]="dob" formControlName="dob" useValueAsDate>
    <div *ngIf="requiredForm.controls['dob'].invalid && (requiredForm.controls['dob'].dirty || requiredForm.controls['dob'].touched)" style="color: red">
      <div *ngIf="requiredForm.controls['dob'].errors">
      Date Of Birth is required.
    </div>
  </div>
  </div>
  <div class="form-group">
    <label for="inputPassword"  style="font-weight: 500;margin-bottom: 5px;">Password</label>
    <input type="password" class="form-control" style="font-weight: 500;margin-bottom: 10px;" required id="inputPassword" placeholder="Password" [(ngModel)]="password" formControlName="password">
    <div *ngIf="requiredForm.controls['password'].invalid && (requiredForm.controls['password'].dirty || requiredForm.controls['password'].touched)" style="color: red">
      <div *ngIf="requiredForm.controls['password'].errors">
      Password is required.
    </div>
  </div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="requiredForm.invalid" >Sign Up</button>
</form>
</div>
</div>
</div>
