<div class="container-fluid" >
  
<div class="row" style="height: 97.5vh;">
  <div class="col-6" style="background-image: url(../assets/images/background2.png);">
   
  </div>


  <div class="col-6" style="display: flex;align-items: center;justify-content: left;">
    
    <div style="width:26vw;margin: auto;">
      <p style="margin-bottom: 40px;font-weight:400;font-size: 40px;">Login</p>
      <form (ngSubmit)="login()" [formGroup]="requiredForm" novalidate >
          <div class="form-group">
            <label for="exampleInputEmail1" style="font-weight: 500;margin-bottom: 10px;">Email address</label>
            <input type="email" style="padding: 18px;" class="form-control" id="exampleInputEmail1" [(ngModel)]="email" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
            <div *ngIf="requiredForm.controls['email'].invalid  && (requiredForm.controls['email'].dirty || requiredForm.controls['email'].touched)" style="color: red" >
              <div *ngIf="requiredForm.controls['email'].errors">
              Email is required.
            </div>
          </div>
      </div>
          <br>
          <div class="form-group">
            <label for="exampleInputPassword1" style="font-weight: 500;margin-bottom: 10px;">Password</label>
            <input type="password" style="padding: 18px;" class="form-control" required id="inputPassword" placeholder="Password" [(ngModel)]="password" formControlName="password">
  <div *ngIf="requiredForm.controls['password'].invalid && (requiredForm.controls['password'].dirty || requiredForm.controls['password'].touched)" style="color: red">
    <div *ngIf="requiredForm.controls['password'].errors">
    Password is required.
  </div>
</div>
      </div>
         
          <button type="submit" class="btn btn-success" [disabled]="requiredForm.invalid">Login</button>
      </form>
        <small>Don't have an account ? <a  href="registration" style="text-decoration: none;font-weight:500">Sign Up</a></small>
  </div>
  </div>

</div>

</div>

