
<div *ngIf='role != "admin" '>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d6f7ff7e; font-family: Montserrat;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../assets/images/logo.png" width="100" height="50" alt=""></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style="cursor: pointer;"  (click)="shop()">Shop</a>
        </li>
        <li class="nav-item" *ngIf='id != ""'>
          <a class="nav-link active" style="cursor: pointer;" (click)="orders()">Past Orders</a>
        </li>
       
        
      </ul>
      <div class="d-flex">
        <div *ngIf='id == ""'>
          <button class="btn btn-outline-success"  routerLink="/registration"  style="margin-right:10px">Register</button>
          <button class="btn btn-outline-primary"  routerLink="/login">Login</button>
        </div>

        <div *ngIf='id != ""'>
          
          
          <span style="margin-right: 20px;"><a routerLink="/profile" style="text-decoration: none;" routerLink="/profile">{{CustomerName}}</a></span>
          <span  (click)="onCart()"  class="cart" style="color: black;cursor: pointer; font-size: 30px;">
            <i class="fa-solid fa-bag-shopping"></i>
           <sup style="color: red;"><b>{{ CartItems.length }}</b></sup>
          </span>
       
        </div>
        
      </div>
    </div>
  </div>
</nav>
</div>


<!--Admin navBar-->
<div *ngIf='role == "admin" '>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d6f7ff7e; font-family: Montserrat;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../assets/images/logo.png" width="100" height="50" alt=""></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style="cursor: pointer;"  (click)="shop()">Shop</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link active" style="cursor: pointer;" (click)="dashboard()">Dashboard</a>
        </li>
       
        
      </ul>
      <div class="d-flex">
        

        <div >
          
          
          <span style="margin-right: 20px;">Administrator : {{AdminName}}</span>
          
       
        </div>
        
      </div>
    </div>
  </div>
</nav>
</div>

<div class="container">

</div>

<router-outlet></router-outlet>
