

<div class="container" style="margin-top: 2vh;font-family: Montserrat;">
  
  <div class="dropdown" style="float: right;">
    <span style="font-weight: bold;">View </span>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      {{category}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" (click)="refreshAllproducts()">All</a></li>
      <div *ngFor="let productcategory of categoryList">
        <li><a class="dropdown-item" (click)="filterbycategory(productcategory.Category)">{{productcategory.Category}}</a></li>
      </div>
      
     
    </ul>
  </div>
  <br>



    <div class="row">
      <div class="col-md-4 mx-auto my-5 d-flex justify-content-center"  *ngFor="let dataItem of pageOfProducts">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{dataItem.Image}}" height="250px">
            <div class="card-body">
              <h5 class="card-title">{{dataItem.ProductName}}</h5>
              <p class="card-text">In Stock {{dataItem.Quantity}}</p>
              
              <div *ngIf='dataItem.Quantity == 0'>
                <p style="color: red;font-weight: bold;">Out Of Stock</p>
              </div>
              <div *ngIf='dataItem.Quantity > 0'>
                <p style="color: green;font-weight: bold;">Available</p>
              </div>
              <p class="card-text">Rs.{{dataItem.Price |number}}</p>
             
             <br>
              <button (click)="viewItemDetails(dataItem.ProductId)"  class="btn btn-primary" style="float: right;">View Product</button>
            </div>
          </div>
      </div>
      
    </div>
    <jw-pagination [items]="AllProductList" (changePage)="onChangePage($event)"  [pageSize]="6"></jw-pagination>
    <br>
  </div>
